<a routerLink="0" class="card card-small" tabindex="0">
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
    </svg>
    <span>Yeni Ekle</span>
</a>
<div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Oluşturulma</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of data;  trackBy: trackByFn">
                <td>{{d.id}}</td>
                <td>{{d.text}}</td>
                <td>{{d.createdOn}}</td>
                <td> <a routerLink="{{d.id}}"> Düzenle </a></td>
            </tr>
        </tbody>
    </table>

</div>
<div>
    <ul class="pagination">
        <li class="card card-small" *ngFor="let in of totalItems  ;let i = index" (click)="getData(i + 1, 10)"  >
            <a href="javascript:;">{{i + 1}}</a>
            <!-- [routerLink]="['/post', i]" -->
        </li>
    </ul>
</div>