<a routerLink="0" class="card card-small" tabindex="0">
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
    </svg>
    <span>Yeni Ekle</span>
</a>
<div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Oluşturulma</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>test test</td>
                <td>test test</td>
                <td> <a routerLink="1"> Düzenle </a></td>
            </tr>
        </tbody>
    </table>

</div>
<div>
    <ul class="pagination">
        <li class="card card-small"><a href="">1</a></li>
        <li class="card card-small"><a href="">2</a></li>
        <li class="card card-small"><a href="">3</a></li>
    </ul>
</div>